@(form: Form[Manufacturer])

@main("Manufacturer form") {
<div class="container">
    <h1>Create / Update Manufacturer</h1>
    <hr>
    <form role="form" class="form-horizontal" action="@routes.ManufacturerController.save()" method="post">
        <input type="hidden" class="form-control" name="id" value="@form("id").value">
        <div class="form-group">
            <label for="name" class="col-sm-2">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter manufacturer name" value="@form("name").value">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Address</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="street1" name="street1" placeholder="1234 Good Street"
                       value="@form("street1").value">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2"></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="street2" name="street2" placeholder="Land Mark"
                       value="@form("street2").value">
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-2"></span>
            <div class="col-xs-2">
                <input type="text" class="form-control col-xs-2" id="city" name="city" placeholder="Detroit"
                       value="@form("city").value">
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control col-xs-2" id="state" name="state" placeholder="MI"
                       value="@form("state").value">
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control col-xs-2" id="zipcode" name="zipcode" placeholder="12345"
                       value="@form("zipcode").value">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2">Email</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="email" id="email" placeholder="me@@example.com" value="@form("email").value">
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-2">Phone</label>
            <div class="col-sm-3">
                <input type="tel" class="form-control" name="phone" id="phone" placeholder="(248)555-1212" value="@form("phone").value">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-default">Save Manufacturer</button>
            </div>
        </div>
    </form>
</div>

}
