.plan-price {
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background: #595f6b;
    border-radius: 60px;
}

.plan-price > span {
    font-size: 12px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.9);
}

.contain-i-e-s,.glyphicon,.text-i-e-s{
    height:20px; width:40px;
}
.contain-i-e-s{
    position:relative;
}
.text-i-e-s{
    text-align:left;
    position:absolute;
    margin-left: 8px;
    margin-top: 4px;
    color: #ffffff;
    z-index: 20;
}